body
{
background-color:	#36454F;
margin:-6px;
}
#navbar
{
padding:10px;
margin:5px;
background-color:#A70D2A;
opacity:0.4px;
position:sticky;
top:0;

}
a
{
  color:black;
  text-decoration:none;
}
#nav
{
  color:white;
  display:flex;
  margin-left:850px;
  gap:70px;
  }
#welcome-section
{
  text-align:center;
  margin-top:100px;
  margin-bottom:100px;
}

h1
{
  color:white;
}
h2
{
  color:#C04000;
}
#project-titler
{
  text-align:center;
  background-color:#0041C2;
    padding-top: 50px; /* adds space inside the section */
  margin-top: 50px;

}
#project h1
{
  margin-bottom:30px;
}
.project-linke
{
  display:flex;
  gap:60px;
  justify-content:center;
}
img
{
  width:325px;
}
#img1
{
  height:198px;
}
#survey-form
{
  background-color:aliceblue;
}
#Tribute-page
{
  background-color:aliceblue;
}
#Technical-documentation
{
  background-color:aliceblue;
}
button
{
  margin-top:35px;
  background-color:#C04000;
  margin-bottom:50px;
}
#mid-footer
{
  margin-top:50px;
  text-align:center;
  color:white;
}
#img-footer
{
  margin-top:15px;
  width:1200px;
  height:80px;
  margin-bottom:50px;
}
#line
{
  border:3px solid #C04000;
  margin-bottom:50px;
}
#footer
{
  
  color:white;
  display:flex;
  justify-content:center;
  gap:150px;
  margin-bottom:50px;
}


